.no-js .mb-menu{background:#eee;clear:both;margin:0;padding:0;}
.no-js .mb-menu:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
.no-js .mb-menu li{width:50%;list-style-type:none;float:left;display:inline;margin:0;}
.no-js .mb-menu h3{font-size:100%;margin:0;padding:0;}
.no-js .mb-menu a{color:#222;text-decoration:none;border-bottom:1px solid #ccc;border-right:1px solid #ccc;display:block;padding:8px;}
.no-js #fip-pcim-gcnb li{display:none;padding-bottom:5px;}
.no-js #fip-pcim-gcnb #cn-gcnb-lang{display:inline;float:right;}
.no-js #cn-sig{float:left;margin-top:0;}
.no-js #cn-gcnb-lang a{color:#222;text-decoration:none;background:#eee;border:1px solid #ddd;border-radius:2px;float:right;padding:3px;}
.no-js #cn-search-box{background: -webkit-linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #2567AB;;text-align:center;padding:3px 0;}
.no-js #cn-search-submit{margin:0;}
.no-js #cn-search-box #cn-search{margin-top:3px;padding:3px 0;}
.no-js .mb-sm{display:none;}
.no-js #fip-pcim-gcnb,.no-js #cn-gcnb ul,.no-js #cn-search-box,.no-js #cn-psnb{display:block;}
.no-js h1{margin:0 -10px;}